.aboutWrapperSection {
  padding: 10rem 2.5rem 4rem; /*üstten 10rem, altından 4rem boşluk bırak */
  /* transform: translateY(40px); */
  /* animation: yukariKayma 1s forwards; */
}
/* 
@keyframes yukariKayma {
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

.aboutWrapper {
  font-size: clamp(5.2rem, 6vw, 7.4rem);
  font-weight: 400;
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutText {
  margin-bottom: 5rem;
  color: rgba(12, 12, 14, 0.5);
  font-size: 1.4rem;
  width: 90%;
}

@media (max-width: 768px) {
  .aboutWrapperSection {
    padding: 1rem 0.1rem 0rem 1rem;
  }
  .aboutWrapper {
    font-size: clamp(2rem, 3vw, 3.7rem);
    margin-bottom: 1rem;
  }
  .aboutText {
    font-size: 1rem;
    width: 100%;
    margin-bottom: 1rem;
  }
}


