/* Sticky navbar */
.sectionWrapper {
  position: fixed;
  width:100%;
  top: 0;
  z-index: 9999;
  background-color: white;
}

.navbarContainer.hidden{
  top: -60px; /* Navbar kaybolacak */

}

/* Navbar düzeni */
.navbarMenuWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 104px 0px 52px;
}

/* Logo başlangıç boyutu */
.LogoContiner {
  height: auto;  /* Yükseklik orantılı kalır */
  transition: transform 0.3s ease; /* Geçiş için animasyon */
}

/* Logo kaydırılınca küçülmesi */
.LogoContiner.shrink {
  width: 100px;
  transition: width 0.2s ease-in-out; /* Yumuşak geçiş */

}

.menuLogo {
  display: none;
  margin-left: auto;
  color: #041e4f;
  width: 80px;
  height: 32px;
}

.closeIcon {
  padding: 8px 11px;
}
@media (max-width: 767px) {
  .navbarContainer {
    width: 100%;
    max-width: 100%;
  }
  .navbarMenuWrapper{
    padding: 0px 4px;
  }
  .LogoContiner {
    width: 128px;
  }
  .menuLogo {
    display: block;
  }
  .menuLogo svg {
    width: 4em; 
    height: 2em;
  }
}
