.swiper-container{
  padding: 28px 0;
}

  .swiper-slide {
    width: auto !important;
  }
  .image-wrapper {
    max-height: 540px; /* istediğiniz yüksekliği belirleyebilirsiniz */
    overflow: hidden;
  }