@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

h1 {
  font-weight: 700; /* Kalınlık ayarı (opsiyonel) */
  font-size: 52px;
}

p {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 400;
}

/* dark theme */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}   */

body {
  color: var(--foreground);
  background: var(--background);
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: fit-content;

}

.section {
  height: 100vh; /* Her sayfa bir ekran yüksekliğinde */
  align-items: center;
  padding: 0 5vw;
  /* text-align: center; */
}