.services-title {
  font-size: clamp(5.2rem, 6vw, 7.4rem);
  padding-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mySwiper {
  width: 100%;
  padding: 20px;
}

.slide-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.slide-item {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #ebeff8;
  padding: 8px;
  position: relative; /* Hover efekti için */
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.slide-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Hover Efekti */
.slide-item:hover {
  background-color: #041e4f;
  color: white;
  transform: translateY(-5px);
}

.slide-item::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.slide-item:hover::before {
  opacity: 1;
}
@media (max-width: 768px) {
  .serviceWrapperSection {
    padding: 1rem 0.1rem 0rem 1rem;
  }
  .services-title{
    padding-top: 1rem;
  }
  .aboutWrapper {
    font-size: clamp(2rem, 3vw, 3.7rem);
    margin-bottom: 1rem;
  }
  .aboutText {
    font-size: 1rem;
    width: 100%;
    margin-bottom: 4rem;
  }
}
